<div class="container">
  <div class="jumbotron">
    <h1>Human Factors term project</h1>
    <h3>click buttons below to proceed</h3>
    <p>
      <!--<a class="btn btn-primary btn-lg" href="#" role="button">input new schedule</a>-->
      <a href="/app/admin" class="btn btn-primary btn-lg" role="button">서열 입력 (관리자용)</a>
      <a href="/app/client" class="btn btn-primary btn-lg" role="button">서열 확인 (작업자용)</a>
    </p>
  </div>
</div>